.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.table table,
td,
th {
    border: 1px solid var(--secondary);
    padding: 3px 10px;
    border-collapse: collapse;
    text-align: center;
}
.table th:hover {
    background-color: var(--secondary);
    cursor: pointer;
}
.sortActive {
    background-color: var(--secondary);
}
th > span {
    width: 100%;
    line-height: normal;
    justify-content: center;
    align-items: center;
    display: flex;
}
.down {
    rotate: 180deg;
}

.table svg {
    width: 20px;
    height: 20px;
}
