.layout {
    display: grid;

    min-height: 100vh;
    grid-template-columns: auto 230px minmax(320px, 1200px) auto;
    grid-template-rows: auto 1fr auto;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-areas:
        '. header header .'
        '. sidebar content .'
        'footer footer footer footer';
}

.header {
    grid-area: header;

    background: var(--bg-light);
}

.sidebar {
    grid-area: sidebar;
    background: var(--bg-dark);
}

.content {
    grid-area: content;
    background: var(--bg);
}

.footer {
    grid-area: footer;
    background: var(--bg-light);
}

.skipLink {
    display: block;
    position: fixed;
    left: 100px;
    top: 0;
    overflow: hidden;
    height: 0;
    background: var(--primary);
    color: var(--white);
}

.displayed {
    height: auto;
}
